{{ define "content" }}
  <div class="contact-page">
    <h1>Contact Us</h1>
    <p>{{ .Content }}</p>
  </div>
{{ end }}


{{/*  
<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <main>
      <h1 class="homePageTest">{{ .Title }}</h1>
      <div>{{ .Content }}</div>
    </main>
  </body>
</html>  */}}
