<link rel="stylesheet" href="/styles/navbar.css">


{{ $navRoutes := .Site.Data.navlinks.navRoutes }}
{{ $navRoutesRight := .Site.Data.navlinks.navRoutesRight }}
<header class="navbarAndSidebar">
  <!-- NAVBAR PART -->
  <nav class="navbarContainer">
    <div class="navbarContainerWrapper">
      <!-- LEFT NAVBAR -->
      <div class="navbarContainerLeft">
        <div class="navbarContainerHamburger">
          <button class="hamburger-btn" id="hamburger-btn" onclick="toggleSidebar()">☰</button>
        </div>
        <div class="navbarContainerLogo">
          <span>
            <a href="{{ "/" | relLangURL }}">{{ i18n "nav_home" }}</a>
          </span>
        </div>
      </div>
      <!-- RIGHT NAVBAR -->
      <div class="navbarContainerRightItems">
        {{/*  {{ range $item := $navRoutesRight }}
          <div class="navbarContainerRightItem">
            <a href="{{ $item.route }}" class="link">{{ $item.name }}</a>
          </div>
        {{ end }}  */}}


        <ul class="navbarContainerRightItem" style="display: flex; padding: 0 24px">
          {{/*  <li><a class="link" href="{{ "/" | relLangURL }}">{{ i18n "nav_home" }}</a></li>  */}}
          <li><a class="link" href="{{ "/about" | relLangURL }}">{{ i18n "nav_about" }}</a></li>
          <li><a class="link" href="{{ "/contact" | relLangURL }}">{{ i18n "nav_contact" }}</a></li>
          {{/*  <li><a class="link" href="{{ "/contact" | relLangURL }}">{{ i18n "nav_contact" }}</a></li>  */}}
        </ul>


        <div>
          <a href="{{ .Site.BaseURL }}" class="language-switcher">English</a> |
          <a href="{{ "/bn/" | relLangURL }}" class="language-switcher">বাংলা</a>
        </div>
        

      </div>
    </div>
  </nav>
  <!-- SIDEBAR PART -->
  <div id="sidebar" class="setSidebarForToggle transform transition-all duration-300 translateForSidebarNeg">
    <button class="SidebarToggleBtn" id="sidebar-close-btn" onclick="toggleSidebar()">X</button>
    <ul class="SidebarItems">
      {{ range $item := $navRoutes }}
        <li class="SidebarItem">
          <a href="{{ $item.route }}" class="link">{{ $item.name }}</a>
        </li>
      {{ end }}
    </ul>
    <h2>Our categories</h2>
    <ul class="SidebarItems">
      {{ range $item := $navRoutesRight }}
        <li class="SidebarItem">
          <a href="{{ $item.route }}" class="link">{{ $item.name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</header>


<script>
  function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    const sidebarCloseButton = document.getElementById('sidebar-close-btn');
    // Toggle sidebar visibility
    sidebar.classList.toggle('translateForSidebar');
    sidebar.classList.toggle('translateForSidebarNeg');
  }
</script>