*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #0b1529;
    --bgSoft: #1f3050;
    --text: #dee4eb;
    --textSoft: #cbd2d9;
}

body{
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
/* 
body.light{
    background: #fff;
    color: red;
} */

.otherPageTest{
    font-size: 124px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}